*{
    font-family: JetBrainsMono;
    font-size: 13px;
    min-height: 0;
    border: 0px;
    padding: 1px;
}

window#waybar {
    background-color: transparent;
    color: #4a4f46; 
}

#workspaces{
    margin-top: 8px;
    margin-bottom: 2px;
}

#workspaces button{
    color:#ffffff;
    border-radius: 5px;
    font-weight: bolder;
    background-color: #4e3e80;
    padding: 0px;
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
}

#workspaces button.active, #workspaces button.focused{
    color: #ffffff;
    background: #4b56ad;
    margin-top: 5px;
    margin-bottom: 1px;
}

#tray,
#cpu,
#temperature,
#memory,
#sway-mode,
#backlight,
#pulseaudio,
#custom-vpn,
#disk,
#custom-recorder,
#custom-audiorec,
#battery,
#clock,
#network {
    color:#ffffff;
    padding: 0 0 0 0;
}

